<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Embedded System UI</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Embedded System UI</h1>

        <p>Start the program, push the data and get it</p>
        <a href="/api/script/" class="btn btn-primary">Start the program</a>
        <a href="/api/dataSense/" class="btn btn-warning"></span> Get the data</a>
    </div>

</div>
</body>
</html>
